<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Twitter Sentiment Analysis - {% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/skeleton.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

    <div class="container">
        <form action="/search" method="GET">
            <div class="row">
                <div class="nine columns">
                    <!--Twitter Search OPERATORS: https://developer.twitter.com/en/docs/tweets/search/guides/standard-operators -->
                    <input name="query" placeholder="Search Tweets" class="u-full-width" type="text">
                </div>
                <div class="three columns">
                    <input class="button-primary u-full-width" type="submit" value="Search">
                </div>
            </div>
        </form>

        <article>
            {% block content %} {% endblock %}
        </article>

    </div>
    <!-- #container -->
</body>

</html>